body{
	color: #595656;
	font-size: 20px;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	background-image: url("wood.jpg");
	background-size: cover;
}
div{
	background-color: white;
	padding: 30px;
	margin: 30px;
	border: 5px solid #595656;
}
h1{
	font-size: 50px;
	text-align: center;
	color: white;
	font-family: Georgia, serif;
	text-shadow: 0px 2px #757575;
	background-color: #5fa83e;
	padding: 20px;
	margin: 0px 30px 0px;
}
h2{
	font-size: 40px;
	font-family: Georgia, serif;
}
h3{
	margin-top: 0px;
	font-size: 30px;
	font-family: Georgia, serif;
}
img{
	height: 200px;
	width: 200px;
	margin-bottom: 15px;
}
#home{
	height: 40px;
	width: 40px;
	float: right;
	padding-top: 10px;
	padding-right: 10px;
}
#button{
	background-color: rgb(28, 216, 175);
	color: white;
	text-shadow: 1px 1px gray;
	font-weight: bold;
	text-align: center;
	height: 40px;
	width: 200px;
	float: left;
	clear: left;
	margin: 10px;
	line-height: 40px;
}
#button:hover{
	background-color: rgb(247, 176, 106);
}
#button2{
	background-color: rgb(247, 176, 106);
	color: white;
	font-size: 40px;
	text-shadow: 1px 1px gray;
	font-weight: bold;
	text-align: center;
	height: 60px;
	width: 450px;
	margin: 10px auto 15px;
	line-height: 60px;
}
#button2:hover{
	background-color: rgb(28, 216, 175);
}
a.button:link{
	text-decoration: none;
}