body {
	background-color: rgb(177, 249, 223);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	/* Image source: https://www.youtube.com/watch?v=bEPAbS-SRlg*/
}
#div1 {
	background-color: rgba(255,255,255,0.5);
	margin: 20px 0px 10px;
	padding: 15px 30px 15px;
	border-top: solid #13540A;
	border-bottom: solid #13540A;
}
h1 {
	font-size: 50;
	font-weight: bold;
	color: #13540A;
	text-align: center;
	font-family: times;
	font-variant: small-caps;
	margin: 0px;
}